#menu_text {
    color: black;
    background-color: rgb(13, 104, 72);
    text-align: center;
    padding: 80px;
    margin:auto;
}

nav {
    overflow:hidden;
    background-color: rgb(4, 15, 24);
}
nav a {
    display:block;
    text-align: center;
    padding: 14px 25px;
    color:aliceblue;
}
nav a.left{
    float: left;
}
nav a#right{
    float: right;
}
nav a:hover {
    color:rgb(4, 15, 24);
    background-color: #DDD;
}   
table, th, td {
    border: 1px solid #222222;
    
}
#flex_container {
    display: flex;
    flex-wrap: nowrap;
}

#left_side {
    flex: 40%;
    background-color: #dddddd;
    padding: 10px 20px;
}
#right_side {
    flex: 60%; 
    padding: 10px 20px;

}

table {
    border-collapse: collapse; 
    width: 100%;
}
table td, table th {
    border: 1px solid black;
    padding: 8px;
  }
  
table tr:nth-child(even){background-color: #f2f2f2;}
  
table tr:hover {background-color: #ddd;}
  
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}


.principles_item {
    text-align: center;
    flex: 33%;
}

#principles_container {
    display:flex;
    flex-wrap: wrap;
}
.principles_title {
    font-weight: bold;
}
.principles_image {
    width: 90%;
    height: 50%;
    image-rendering: crisp-edges;
}

footer{
    background-color: #DDD;
    text-align:center;
    padding:25px;
    font-size:18px;
}
@media(max-width: 800px) {
    #left_side {
        flex: 100%;
    }
    #right_side {
        flex: 100%;
    }
    #flex_container {
        flex-wrap: wrap;
    }
    .principles_item {
        flex: 50%;
    }
}
@media(max-width: 400px) {
    #left_side {
        flex: 100%;
    }
    #right_side {
        flex: 100%;
    }
    #flex_container {
        flex-wrap: wrap;
    }
}

